<!DOCTYPE html>
<html lang="fr-FR">
<head>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <title></title>
    
</head>
<body>
<header class="container">
    <h2>Finding images using flickr <span class="label">API</span> </h2>
</header>
<div class="main container">

     {% for message in app.session.flashbag.get('notice') %}
    <div class="flash-notice">
        {{ message }}
    </div>
    {% endfor %}
    {% for message in app.session.flashbag.get('error') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}
    {{ form_start(mySearchForm,{attr:{'class':'form-inline','role':'form'}}) }}

            
                <div class="form-group">
                    {{ form_label(mySearchForm.tags,'Tags :') }}
                    <div class="form-control">
                        {{ form_widget(mySearchForm.tags) }}
                    </div>
                </div>
                
               <div class="form-group">
                    {{ form_label(mySearchForm.maximum,'Maximum :') }}
                   <div class="form-control">
                        {{ form_widget(mySearchForm.maximum) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(mySearchForm.maximum,'Size:') }}
                   <div class="form-control">
                        {{ form_widget(mySearchForm.size) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_widget(mySearchForm.send,{'label':'find in flickr'}) }}
                </div>
           




    {{ form_end(mySearchForm) }}

{#form(mySearchForm)#}
    <div class="row">
        <div class="col-sm-10">
            {% if photos is defined %}
                {% if photos is empty %}
                    <p>no photos found</p>
                {% else %}
                    <p>result of search</p>
                    <ul>
                        <li>
                            {% for photo in photos %}
                                <a class="thumbnail" href="{{ path('wa_flickr_search_imageDesc',
                                {'id':photo.id,'secret':photo.secret,"url":photo.url,"title":photo.title}) }}">
                                    <img class="img-rounded" src="{{ photo.url }}"
                                         alt="{{ photo.title }}" title="{{ photo.title }}"/>
                                </a>
                                <a class="btn btn-default" href="{{ path('wa_flickr_search_addToFavorite',
                                    {'id':photo.id,'secret':photo.secret})}}">add to favorite
                                </a>
                            {% endfor %}
                        </li>
                    </ul>
                {% endif %}
            {% endif %}
        </div>
        <div class="col-sm-2">
            <p><span class="label label-warning">My favorite photos</span></p>
            {% set photosFav = app.session.get('photos') %}

                {% for photoFav in photosFav %}
                    <div class="flash-notice">
                        <a class="thumbnail" href="{{ path('wa_flickr_search_imageDesc',
                        {'id':photoFav.id,'secret':photoFav.secret,"url":photoFav.url,"title":photoFav.title}) }}">
                            <img class="img-circle" src="{{ photoFav.url }}" />
                        </a>
                    </div>
                {% endfor %}

        </div>

    </div>

</div>
<footer>
    {#comment with twig#}
</footer>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</body>
